<h2 mat-dialog-title>{{'GENERAL.COMFIRMATION' | translate}}</h2>
<mat-dialog-content class="mat-typography">
    <h4>{{'GENERAL.AREYOUSUREDELETE'| translate}}</h4>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close   (click)="comfirmDelete(false)" cdkFocusInitial>{{'GENERAL.CANCEL' | translate}}</button>
    <button mat-raised-button [mat-dialog-close]="true" color="warn" cdkFocusInitial (click)="comfirmDelete(true)">{{'GENERAL.DELETE' | translate}}</button>
</mat-dialog-actions>
