<mat-sidenav-container class="example-container" [hasBackdrop]="true">
    <mat-sidenav-content style="min-height: 80vh; margin-top: -8px;">
        <div class="ml-8 mr-8 mt-8 pb-16">

            <div class="biruni-action-toolbar">

                <button mat-icon-button color="primary" (click)="newItemDialog()" style="margin-left:10px;">
                    <mat-icon>add</mat-icon>
                </button>

                <button mat-icon-button color="primary" (click)="sidenav.toggle()" style="margin-left:10px;">
                    <mat-icon>filter_list</mat-icon>
                </button>

                <button mat-icon-button color="primary" (click)="downloadData()" style="margin-left:10px;">
                    <mat-icon>download</mat-icon>
                </button>

                <!--<button mat-icon-button color="primary" (click)="sidenav.toggle()" style="margin-left:10px;">
                    <mat-icon>upload</mat-icon>
                </button>-->
            </div>

            <div class="mat-elevation-z8" [hidden]="this.showSpinner">
                <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
                    <ng-container matColumnDef="Actions">
                        <mat-header-cell *matHeaderCellDef> {{'GENERAL.ACTIONS' | translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <button mat-icon-button matTooltip="Click to Edit" (click)="editItemDialog(row)" class="iconbutton">
                                <mat-icon aria-label="Edit">edit</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="Click to Delete" (click)="delete(row)" class="iconbutton">
                                <mat-icon aria-label="Delete">delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="userRoleId">
    <mat-header-cell *matHeaderCellDef mat-sort-header> {{'USERROLE.USERROLEID' | translate}} </mat-header-cell> 
    <mat-cell *matCellDef="let row" data-label="UserRoleId"> {{row.userRoleId}}</mat-cell> 
</ng-container>

<ng-container matColumnDef="userId">
    <mat-header-cell *matHeaderCellDef mat-sort-header> {{'USERROLE.USERID' | translate}} </mat-header-cell> 
    <mat-cell *matCellDef="let row" data-label="UserId"> {{row.userId}}</mat-cell> 
</ng-container>

<ng-container matColumnDef="roleId">
    <mat-header-cell *matHeaderCellDef mat-sort-header> {{'USERROLE.ROLEID' | translate}} </mat-header-cell> 
    <mat-cell *matCellDef="let row" data-label="RoleId"> {{row.roleId}}</mat-cell> 
</ng-container>

<ng-container matColumnDef="updatedDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header> {{'USERROLE.UPDATEDDATE' | translate}} </mat-header-cell> 
    <mat-cell *matCellDef="let row" data-label="UpdatedDate"> {{row.updatedDate | date:'yyyy-MM-dd HH:mm:ss'}} </mat-cell> 
</ng-container>

<ng-container matColumnDef="updatedUser">
    <mat-header-cell *matHeaderCellDef mat-sort-header> {{'USERROLE.UPDATEDUSER' | translate}} </mat-header-cell> 
    <mat-cell *matCellDef="let row" data-label="UpdatedUser"> {{row.updatedUser}}</mat-cell> 
</ng-container>


                    <ng-container matColumnDef="updatedUserText">
                        <mat-header-cell *matHeaderCellDef > {{'USERROLE.UPDATEDUSERTEXT' | translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="UpdatedUser"> {{row.updatedUserText}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                </mat-table>
                <mat-paginator [length]="this.queryInfo.pager.totalCount"
                               [pageSize]="this.queryInfo.pager.pageSize"
                               (page)="pageEvent=$event; onPaginateChange($event)"
                               [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
            </div>
            <mat-spinner *ngIf="this.showSpinner === true" style="margin:0 auto; margin-top:150px;"></mat-spinner>
        </div>
    </mat-sidenav-content>

    <mat-sidenav #sidenav mode="over"
                 class="biruni-filter-sidebar" position="end">

        <div style="margin-bottom:10px;">
            <button mat-raised-button color="primary" (click)="filterData()" [style.width.%]="45" style="margin-right:10px;">{{'GENERAL.FILTER' | translate}}</button>
            <button mat-raised-button color="warn" (click)="clearFilter()" [style.width.%]="45">{{'GENERAL.CLEARFILTER' | translate}}</button>
        </div>

        <mat-form-field [style.width.%]="100" appearance="legacy">
    <mat-label>{{'USERROLE.USERROLEID'| translate}}</mat-label>
    <input matInput type="number" [(ngModel)]="filter.userRoleId">
</mat-form-field>
<mat-form-field [style.width.%]="100" appearance="legacy">
    <mat-label>{{'USERROLE.USERID'| translate}}</mat-label>
    <input matInput type="number" [(ngModel)]="filter.userId">
</mat-form-field>
<mat-form-field [style.width.%]="100" appearance="legacy">
    <mat-label>{{'USERROLE.ROLEID'| translate}}</mat-label>
    <input matInput type="number" [(ngModel)]="filter.roleId">
</mat-form-field>
<div>
   <mat-form-field [style.width.%]="45" appearance="legacy">
       <mat-label>{{'USERROLE.CREATEDDATE'| translate}}</mat-label> 
       <input matInput [matDatepicker]="createdDatepicker" [(ngModel)]="filter.createdDate">
       <mat-datepicker-toggle matSuffix [for]="createdDatepicker"></mat-datepicker-toggle>
       <mat-datepicker #createdDatepicker></mat-datepicker>
   </mat-form-field>
   &nbsp;
   <mat-form-field [style.width.%]="45" appearance="legacy">
       <mat-label>{{'USERROLE.CREATEDDATE'| translate}}</mat-label>
       <input matInput [matDatepicker]="createdDate2picker" [(ngModel)]="filter.createdDate2">
       <mat-datepicker-toggle matSuffix [for]="createdDate2picker"></mat-datepicker-toggle>
       <mat-datepicker #createdDate2picker></mat-datepicker>
   </mat-form-field>
</div>
<mat-form-field [style.width.%]="100" appearance="legacy">
    <mat-label>{{'USERROLE.CREATEDUSER'| translate}}</mat-label>
    <input matInput type="number" [(ngModel)]="filter.createdUser">
</mat-form-field>

       
    </mat-sidenav>
</mat-sidenav-container>
