<mat-sidenav-container class="example-container" [hasBackdrop]="true">
    <mat-sidenav-content style="min-height: 80vh; margin-top: -8px;">
        <div class="ml-12 mr-12 mt-12 pb-20">
            <div fxLayout="row" fxLayoutGap="10">
                <div fxFlex="30%">
                    <!-- CUSTOMER SEARCH -->
                    <mat-card>
                        <mat-card-title>Üye Arama</mat-card-title>
                        <mat-card-subtitle>Üye arayın veya yeni üye ekleyin.</mat-card-subtitle>
                        <mat-card-content>
                            <fast-autocomplete [style.width.%]="100" placeholder="{{ 'DASHBOARD.SEARCHCUSTOMER' | translate }}"
                                               [initValue]="searchCustomerId" [endpoint]="'/Customer/GetListForCombo'"
                                               (onChange)="onChange($event)">
                            </fast-autocomplete>

                        </mat-card-content>
                        <mat-card-actions align="start">
                            <button mat-flat-button color="primary" (click)="newCustomerDialog()">Yeni Üye Ekle</button>
                            <!-- <button mat-flat-button color="primary" style="margin-left:15px;" (click)="newVaccinationDialog()">Yeni Aşı Ekle</button> -->
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div fxFlex="70%">
                    <!-- QR SEARCH -->
                    <mat-card>
                        <mat-card-title>QR TARAMA</mat-card-title>
                        <mat-card-subtitle>Üye QR kodunu okutun.</mat-card-subtitle>
                        <mat-card-content>
                            <zxing-scanner></zxing-scanner>
                        </mat-card-content>
                        <mat-card-actions align="start">
                            <button mat-flat-button color="primary" (click)="newCustomerDialog()">Başlat</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
            <!-- CUSTOMER & PATIENT INFO -->
            <div fxLayout="row" fxLayoutGap="10" *ngIf="searchCustomerData">
                <div fxFlex="80%">
                    <mat-card>
                        <mat-card-title>Üye Bilgileri</mat-card-title>
                        <mat-card-subtitle>
                            Üye bilgilerini inceleyebilir veya düzenleyebilirsiniz.
                        </mat-card-subtitle>
                        <mat-card-content>
                            <mat-list role="list">
                                <mat-list-item role="listitem">
                                    <b>Adı Soyadı : </b>&nbsp; {{searchCustomerData?.fullName}}
                                </mat-list-item>
                                <mat-list-item role="listitem">
                                    <b>Telefon No : </b>&nbsp; {{searchCustomerData?.phoneNumber}}
                                </mat-list-item>
                                <mat-list-item role="listitem">
                                    <b>TC No : </b>&nbsp; {{searchCustomerData?.identityNumber}}
                                </mat-list-item>
                                <mat-list-item role="listitem">
                                    <b>Adres : </b>&nbsp; {{searchCustomerData?.address}}
                                </mat-list-item>
                            </mat-list>
                        </mat-card-content>
                        <mat-card-actions align="start">
                            <button mat-flat-button color="accent" (click)="editCustomerDialog(searchCustomerData)">Bilgileri Güncelle</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <mat-divider [vertical]="true"></mat-divider>
                <div fxFlex="20%">
                    <mat-card>
                        <mat-card-title>QR Kod</mat-card-title>
                        <mat-card-subtitle>
                        </mat-card-subtitle>
                        <mat-card-content>
                            <qrcode [qrdata]="'Test'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
        <mat-spinner *ngIf="this.showSpinner === true" style="margin:0 auto; margin-top:150px;">
        </mat-spinner>
    </mat-sidenav-content>
</mat-sidenav-container>