<mat-sidenav-container class="example-container" [hasBackdrop]="true">
    <mat-sidenav-content style="min-height: 80vh; margin-top: -8px;">
        <div class="ml-12 mr-12 mt-12 pb-20">

            <div fxLayout="row" fxLayoutGap="10">
                <div fxFlex="50%">
                    <!-- CUSTOMER SEARCH -->
                    <mat-card>
                        <mat-card-title>Üye Bilgisi</mat-card-title>
                        <mat-card-subtitle>Üye arayın veya yeni üye ekleyin.</mat-card-subtitle>
                        <mat-card-content>
                            <fast-autocomplete [style.width.%]="100" placeholder="{{ 'DASHBOARD.SEARCHCUSTOMER' | translate }}"
                                               [initValue]="searchCustomerId" [endpoint]="'/Customer/GetListForCombo'"
                                               (onChange)="onChange($event)">
                            </fast-autocomplete>

                        </mat-card-content>
                        <mat-card-actions align="start">
                            <button mat-flat-button color="primary" (click)="newCustomerDialog()">Yeni Üye Ekle</button>
                            <!-- <button mat-flat-button color="primary" style="margin-left:15px;" (click)="newVaccinationDialog()">Yeni Aşı Ekle</button> -->
                        </mat-card-actions>
                    </mat-card>
                    <!-- CUSTOMER & PATIENT INFO -->
                    <div fxLayout="row" fxLayoutGap="10" *ngIf="searchCustomerData">
                        <div fxFlex="60%">
                            <mat-card>
                                <mat-card-title>Üye Bilgileri</mat-card-title>
                                <mat-card-subtitle>
                                    Üye bilgilerini inceleyebilir veya düzenleyebilirsiniz.
                                </mat-card-subtitle>
                                <mat-card-content>
                                    <mat-list role="list">
                                        <mat-list-item role="listitem">
                                            <b>Adı Soyadı : </b>&nbsp; {{searchCustomerData?.fullName}}
                                        </mat-list-item>
                                        <mat-list-item role="listitem">
                                            <b>Telefon No : </b>&nbsp; {{searchCustomerData?.phoneNumber}}
                                        </mat-list-item>
                                        <mat-list-item role="listitem">
                                            <b>Üye Tipi : </b>&nbsp; <mat-slide-toggle [(ngModel)]="searchCustomerData.customerType" disabled></mat-slide-toggle>
                                        </mat-list-item>
                                        <mat-list-item role="listitem">
                                            <b>Ödeme Yapıldı? : </b>&nbsp; <mat-slide-toggle [(ngModel)]="searchCustomerData.isPaid" disabled></mat-slide-toggle>
                                        </mat-list-item>
                                        <mat-list-item role="listitem">
                                            <b>İlk Sisteme Giriş : </b>&nbsp; {{searchCustomerData?.firstStartDate | date:'yyyy-MM-dd'}}
                                        </mat-list-item>
                                        <mat-list-item role="listitem">
                                            <b>Üyelik Başlangıç - Bitiş Tarihi : </b>&nbsp; {{searchCustomerData?.workingStartDate | date:'yyyy-MM-dd'}} - {{searchCustomerData?.workingEndDate | date:'yyyy-MM-dd'}}
                                        </mat-list-item>
                                    </mat-list>
                                </mat-card-content>
                                <mat-card-actions align="right">
                                    <button mat-flat-button color="accent" (click)="editCustomerDialog(searchCustomerData)">Bilgileri Güncelle</button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                        <mat-divider [vertical]="true"></mat-divider>
                        <div fxFlex="40%">
                            <mat-card>
                                <mat-card-title>Üye Kimliği</mat-card-title>
                                <mat-card-subtitle>
                                    Üyenin benzersiz QR kod bilgisi 
                                    <!--<b>{{searchCustomerData?.identityCode}}</b>-->
                                </mat-card-subtitle>
                                <mat-card-content>
                                    <qrcode #parent
                                            elementType="img"
                                            [qrdata]="customerQrCode"
                                            [width]="256"
                                            [errorCorrectionLevel]="'M'"
                                            [colorDark]="'#000000ff'"
                                            [colorLight]="'#ffffffff'"
                                            [cssClass]="'center'">
                                    </qrcode>
                                </mat-card-content>
                                <mat-card-actions align="center">
                                    <button mat-flat-button color="accent" (click)="saveAsImage(parent)">{{ 'GENERAL.DOWNLOADQRCODE' | translate }}</button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </div>
                <div fxFlex="50%">
                    <!-- QR SEARCH -->
                    <mat-card>
                        <mat-card-title>Üye Giriş</mat-card-title>
                        <mat-card-subtitle>Üye QR kodunu kameraya okutunuz.</mat-card-subtitle>
                        <mat-card-content>
                            <mat-form-field appearance="fill">
                                <select matNativeControl matInput (change)="onDeviceSelectChange($event.target.value)">
                                    <option value="" [selected]="!currentDevice">Cihaz Seçilmedi</option>
                                    <option *ngFor="let device of availableDevices" [value]="device.deviceId"
                                            [selected]="currentDevice && device.deviceId === currentDevice.deviceId">
                                        {{device.label}}
                                    </option>
                                </select>
                            </mat-form-field>
                            <zxing-scanner [torch]="torchEnabled" [(device)]="currentDevice" (scanSuccess)="onCodeResult($event)"
                                           [formats]="formatsEnabled" [tryHarder]="tryHarder" (permissionResponse)="onHasPermission($event)"
                                           (camerasFound)="onCamerasFound($event)" (torchCompatible)="onTorchCompatible($event)"></zxing-scanner>
                            <section class="results" *ngIf="qrResultString">
                                <div>
                                    <strong>{{ qrResultString }}</strong>
                                </div>
                                <button mat-icon-button (click)="clearResult()">&times;</button>
                            </section>
                        </mat-card-content>
                        <mat-card-actions align="justify">
                            <ng-container *ngIf="hasPermission === undefined">
                                <h2>İzin bekleniyor.</h2>
                                <blockquote>
                                    Cihazınızda kamera yoksa sizden herhangi bir izin istenmeyecektir.
                                </blockquote>
                            </ng-container>
                            <ng-container *ngIf="hasPermission === false">
                                <h2>Kamera iznini reddettiniz, onsuz hiçbir şeyi tarayamayız. 😪</h2>
                            </ng-container>
                            <ng-container *ngIf="hasDevices === undefined">
                                <h2>Cihazlar kontrol edilemedi.</h2>
                                <blockquote>
                                    Bu, bazı güvenlik hatalarından kaynaklanıyor olabilir.
                                </blockquote>
                            </ng-container>
                            <ng-container *ngIf="hasDevices === false">
                                <h2>Hiçbir cihaz bulunamadı.</h2>
                                <blockquote>
                                    Cihazınıza bağlı herhangi bir medya cihazı olmadığına inanıyorum.
                                </blockquote>
                            </ng-container>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>

        </div>
        <mat-spinner *ngIf="this.showSpinner === true" style="margin:0 auto; margin-top:150px;">
        </mat-spinner>
    </mat-sidenav-content>
</mat-sidenav-container>