<div class="position-relative" style=" padding-bottom: 0px; margin-bottom:20px; border-bottom: 1px solid #d8d8d8">
  <h2 mat-dialog-title *ngIf="isNew==true">{{'GENERAL.NEWRECORD' | translate}}
    {{'VACCINATIONTRANSACTION.VACCINATIONTRANSACTION' | translate}}</h2>
  <button mat-icon-button color="primary" (click)="close()" class="position-absolute" style="right:0px; top:0px;">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content>
  <!-- <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
    <mat-form-field [style.width.%]="100" appearance="legacy">
      <mat-label>{{ 'VACCINATIONTRANSACTION.VETNAME' | translate }}</mat-label>
      <input type="text" matInput [(ngModel)]="row.vetName" disabled>
    </mat-form-field>
  </div> -->
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
    <div [style.width.%]="100" appearance="legacy">
      <fast-autocomplete [style.width.%]="100" placeholder="{{ 'VACCINATIONTRANSACTION.VACCINATIONTYPE' | translate }}"
        [initValue]="row.vaccinationType" [endpoint]="'/VaccinationType/GetListForCombo'"
        (onChange)="onChange($event,row,'vaccinationType')"></fast-autocomplete>
    </div>
    <mat-form-field [style.width.%]="100" appearance="legacy">
      <mat-label>{{ 'VACCINATIONTRANSACTION.VACCINATIONDATE' | translate }}</mat-label>
      <input matInput [matDatepicker]="vaccinationDatePicker" [(ngModel)]="row.vaccinationDate">
      <mat-datepicker-toggle matSuffix [for]="vaccinationDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #vaccinationDatePicker></mat-datepicker>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
    <mat-form-field [style.width.%]="100" appearance="legacy">
      <mat-label>{{ 'VACCINATIONTRANSACTION.DESCRIPTION' | translate }}</mat-label>
      <input type="text" matInput [(ngModel)]="row.description">
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row">
  <div fxFlex="20%">
    <button mat-raised-button color="default" (click)="close()">{{'GENERAL.CANCEL' | translate}}</button>
  </div>
  <div fxFlex="80%" style="text-align:right;">
    <button mat-raised-button color="primary" (click)="save()">{{'GENERAL.SAVE' | translate}}</button>
  </div>
</mat-dialog-actions>